# Database
DATABASE_URL=postgresql://postgres:yxQDVfoItWskBvxfzVKOvfpymqXrBtFk@thomas.proxy.rlwy.net:30988/railway
DB_USER=postgres
DB_HOST=localhost
DB_NAME=car_financing_system
DB_PASSWORD=yxQDVfoItWskBvxfzVKOvfpymqXrBtFk
DB_PORT=30988

# JWT
JWT_SECRET=a4450fcff6565acf506dc3bc393ba6c185f6678bee9316b3b7266cf7393b5436

# Server
PORT=3000
NODE_ENV=development

# Frontend (for production)
VITE_API_URL=http://localhost:3000
